@* <div class="dropdown">
<a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu" data-toggle="dropdown">
Manage
</a>
<div class="dropdown-menu" aria-labelledby="managedropdownmenu">
<a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
Database
</a>

</div>
</div> *@

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}


@{
    Layout = null;
}
@if (result.Succeeded)
{

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/custom-dropmenu-dropdown.css" asp-append-version="true" />
    </head>

    <body>
        <a class="nav-link text-light " asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">
            <i class="fas fa-cog"></i> Quản trị
        </a>

        @* <div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu">
    <i class="fas fa-cog"></i> Manage
    </a>
    <div class="dropdown-menu">
    <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
    Database
    </a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
    Contact Manage
    </a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
    Role Management
    </a>
    <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
    Member Management
    </a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">
    Blod Management
    </a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Post" asp-area="Blog">
    Post Management
    </a>
    <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="FileManager" asp-area="Files">
    Quản lý files
    </a>
    <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="CategoryProduct"
    asp-area="Product">
    Quản lý Category Product
    </a>
    <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="ProductManage"
    asp-area="Product">
    Quản lý Product
    </a>
    <a target="_blank" class="dropdown-item" asp-action="Index" asp-controller="DiscountsManage"
    asp-area="Discount">
    Quản lý Discount
    </a>
    </div>
    </div> *@

        <script src="~/js/custom-dropmenu-dropdown.js" asp-append-version="true"></script>
    </body>

    </html>

}