@{
    Layout = "_SiteLayout";
}


<div class="row">
    <div class="col-md-2">
        @RenderSection("Sidebar", false)
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>

</div>