@model AppMvc.Net.Models.Discount.DiscountModel
@{
    ViewData["Title"] = "Xóa DISCOUNT";
}

<h1>@ViewData["Title"]</h1>
<p>Có chắc chắn xóa DISCOUNT?</p>
<h4>@Model.Name</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách DISCOUNT</a>
    </form>
</div>