.app-navbar {
   background: rgba(0, 0, 0, 0.8);

   .text-dark {
      color: #b9c3ce !important;

      &:hover {
         color: white !important;
      }
   }

   .navbar-brand {
      color: #62d84bce;

      &:hover {
         color: #a01729 !important;
      }
   }

   .dropdown-toggle {
      border-color: #59a80e;
      color: #ae84b3;
   }
}

.categorysidebar {

   ul,
   li {
      list-style: none;
      padding-left: 10px;
   }

   a {
      text-decoration: none;

      &:hover {
         color: #a04747;
      }

      &.active {
         color: red;
      }
   }

   >ul>li>a {
      font-weight: bold
   }

   h3 {
      text-transform: uppercase;
      font-size: 1.3em;
      border-bottom: 1px solid blue;
      padding-bottom: 10px;
   }
}