.detailpost {
    h1 {
        font-weight: 300;
    }

    .sapo {
        font-weight: 500;
        font-style: italic;
    }

    img {
        max-width: 100%;
    }
}

.img-auto-size {
    width: 200px;
    height: 240px;
}