.photodetail {
    position: relative;

    span {
        position: absolute;
        bottom: 50%;
        left: 50%;
        display: none;
    }

    &:hover {
        span {
            display: block;
        }
    }
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card-title,
.card-link:hover p,
.card-link:hover strong {
    text-decoration: none;
    color: inherit;
}

/* Thiết lập kích thước cố định cho hình ảnh chính */
.main-img-fixed {
    width: 100%;
    /* Đặt chiều rộng là 100% */
    height: 400px;
    /* Đặt chiều cao cố định */
    object-fit: contain;
    /* Đảm bảo rằng toàn bộ hình ảnh được hiển thị */
    object-position: center;
    /* Đặt vị trí trung tâm của hình ảnh */
}

/* Thiết lập kích thước cố định cho hình ảnh thumbnail */
.thumbnail-container img {
    width: 100px;
    /* Thiết lập chiều rộng cố định */
    height: 100px;
    /* Thiết lập chiều cao cố định */
    object-fit: contain;
    /* Đảm bảo rằng toàn bộ hình ảnh được hiển thị */
    cursor: pointer;
    /* Con trỏ chuột chuyển thành hình bàn tay khi hover */
}

/* Container cho hình ảnh thumbnail */
.thumbnail-container {
    flex: 0 0 auto;
    /* Đảm bảo các hình ảnh không co lại */
    margin-right: 10px;
    /* Khoảng cách giữa các hình ảnh */
}